<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ovaflowers - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">   
    </head>
    <body>
        <%- include("partials/header") %>
        <main>
            <section class="last-visit">
                <h3>Útimos estrenos</h3>
                <div class="products">
                    <article>
                        <a href="/detail">
                            <img src="images/accesorio-perfumeRopa.jpg" alt="Cafetera" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$.1000</p>
                            <h4 class="description">Perfume para ropa</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq10.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.500</p>
                            <h4 class="description">Remera Revolution</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq4.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.000</p>
                            <h4 class="description">Remera estampada</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq3.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.250</p>
                            <h4 class="description">Remera Hendrix</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Promoción</h3>
                <div class="products">
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq2.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Remera Buffalo</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.500</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Remera Primus</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq.18.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.500</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Remera Squid Games</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/detail">
                            <img src="images/remera-sq.17.jpg" alt="MacBook" class="product_img">
                        </a>
                        <div class="main-article">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="price">$2.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Remera Dragon Ball</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <%- include("partials/footer") %>        
    </body>
</html>