<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ovaflowers - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="css/stylesDetail.css">   
    </head>
    <body>
        <%- include("partials/header") %>
        <main class="container">
            <div class="left-column">
              <img src="images/remera-sq.13.jpg" width="700" height="700" alt="remera">
            </div>
            <div class="right-column">
              <div class="product-description">
                <span>Remera</span>
                <h1>Corazón delator</h1>
                <p>Remera en color blanco. material algodón. Tallas: S, M, L, XL</p>
              </div>
              <div class="product-price">
                <span>$2.100</span>
                <a href="/shoppingcart" class="cart-btn">Añadir al carrito</a>
              </div>
            </div>
          </main>
          <%- include("partials/footer") %>
        
    </body>
</html>