<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleslogin.css">
    <link href="https: //fonts.googleapis.com/css2? family= Roboto:wght@300 & family= Silkscreen & display=swap" rel="stylesheet"></link>
    <title>OvaFlowers Login</title>
</head>
<body>
    <div class="container">
        <div class="textos">
            <h2>Clothes</h2>
        </div>
        <div>
            <div class="form">
                <input type="text" placeholder="Nombre de Usuario">
                <input type="password" placeholder="Constraseña">
                <button type="submit" class="entrar">Entrar</button>
                <a href="#">¿Has olvidado tu contraseña?</a>
                <hr>
                <button class="NuevaC">Crear Nueva Cuenta</button>
            </div>
        </div>

        </div>
    </div>
</body>
</html>